/* StyleSheet for page17.html */
body {
	font-family: arial;
	background-color: red;
	color: yellow;
}
h1 {
	text-align: center;
	font-size: 6em;
}
h2 {
	text-transform: uppercase;
	text-align: center;
	color: purple;
	font-weight: bold;
}
p {
	text-transform: uppercase;
}

.underlined_paragraph {
	text-decoration: underline;
	color: blue;
	font-weight: bold;
}
.info_div {
	border: solid blue 1px;
	background-color: white;
	color: black;
}